/* TODO: Add the css from both tpl pages here. */
.list_group{
  padding-top: 0px;
  padding-bottom: 25px;
  float: left;
  width:auto;
  border-style:solid;
  border-color: black;
  background-color: grey;
}

.coop_list_item_div{
  background-color: green;
  cursor: pointer;
  margin: 0 1.8em;
  border-style:solid;
  border-color: #0000ff;
  float:left;
  width:80px;
  height:80px;
}

/* Fix for context menus of the block covering the drop down in '/coop'. */
.contextual-links-region{
  position: unset !important;
}