.emicdora-add-to-coop {
  float: right;
}
.emicdora-add-to-coop-select {
  float: left;
  margin: 2em;
}
.coop-icon {
  margin: 2em;
}
.emicdora-url-table {
  width: 100%;
}
.emicdora_title_cell {
  width:90%;
}
.emicdora_header {
  text-align: left;
}
.coop_browse_more{
  text-align: right;
}