/*
    Document   : version_table
    Created on : Jul 10, 2014, 3:40:59 PM
    Author     : astanley
    Description:
        Purpose of the stylesheet follows.
*/

.emicdora_version_select_table {
  width: 70%;
  margin-bottom: 1%;
}

.emicdora_version_pid {
  width: 15%;
}
.emicdora_version_title {
  width: 80%;
}
