/* This file contains fixes to styling issues persistant in dialog boxes. */
/* These dialog boxes are still under development via CWRC. */

#citationDialog {
  height:400px !important;
}

#searchDialog {
  height:400px !important;
}

.ui-dialog {
  max-width: 500px !important;
  height: auto !important;
  max-height: 800px !important;
}
.annotationDialog .ui-button-text{
  padding: 0.4em 0.4em !important;
}

.annotationDialog {
  height: auto !important;
}

.annotationDialog p {
  margin: 0.025em 0.025em !important;
}

.annotationDialog .cwrc .ui-button-text-only .ui-button-text {
  margin: 0.25em 0.25em !important;
}

#tripleColumnsParent .column > ul {
  top: 40px !important;
}

#text_anno_describeAs p pre {
  margin: 0em !important;
}