.eui-window-fullscreen
{
    position: fixed;
    width: 100%;
    height: 100% !important;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.win-switch-full {
  cursor: pointer;
  display: inline-block;
  height: 27px;
  text-indent: -9999px;
  width: 27px;
  background-position: .07em .07em !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABZUlEQVRIie1VPU8DMQxNT/1hN1Y6+zkRzPATuhQEC1gCgSgbRWpFRdlA8Fso8G/YWobcqddwuY/OtZQlid+zE/vZAHZdt4jsjYkYEd82+Zt6cHcSAy8MsKc7ETDzqAm8MGYedSJgtktVTdoSqGoCyFfHDOx7mqb9JvA0TfuA/WiVAbP9Cf5gUZeJqiYi8lKHUSa4UtWEyC0CknmMgMjNg4ifVTXJMr7eIgiqpUdkJz4a/AIYxAgADPwduxaRB2NMb3Pmq8tU1bmPws2Y7UHTH4jIIYBp1VMS8W2T/9721sJE3FnFdg/Ao4gcNfkD7pjITkypBzZnOM8bDXfFptcWvPlGkxURhjFwIgyZZZVLxGtZuwCMt6RCxF3kUhG0P6Yxgixzs1BWPAYuI2oq3wH4U1Xq5af8H9A2RlSuQ22pJ/Ha1WUefHYdOMx22XEmY9yWQMTdd57JYXXFrKiWnQjypXFwq03+f0e91EwvZ22WAAAAAElFTkSuQmCC);
}

.win-switch-norm {
  cursor: pointer;
  display: inline-block;
  height: 27px;
  text-indent: -9999px;
  width: 27px;
  background-position: .07em .07em !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABcklEQVRIie2Vv07DQAzGnbQPlrk5f/YJsoHUFeaCYAFLIBAwIkRFVRV167tQwQNRhYEEXa9/UFDYaumGc2z/4suXMxERMetenvuhmaUUGYDz2FebiD+LfWaW5rkfish+XeAA0E9AS2adZVnWDYrfA1puAgBaOoe7ep9lWZdZZ4CWgH4y6yE550eVo15jM0udw2Xt2wYAtBTxF2aWAjoOaznnR2RmqYhMliHyHu5/A6zLEZFJeOSJc/oYddIQEL65PhJRsvJxmHXeAuBtnVhIxD+01QGA+yjwWy3tAQJ1AWrbAv8KqJZtyt3ZzhqYc3z7XzJ1Tm/qwNP2fzR/shTMzIO2AMw8WAlu67Jj1vnKZRdNohY6WJ6MSTzVmPWjKSDOAfBCRAnluR+GD+pJlOd83QBwVR3xawR5pl5P+4AuquJPFEyiWl3bAJFaEhF5qgCLXk/7RETEzMciMi2KohMXcY5vNwF+dB5YURQdEZkCOCIi+gJ9nNa2g4feggAAAABJRU5ErkJggg==);
}

.work_action_img{text-decoration:none; text-align:center; 
 padding:0px 0px; 
 border:solid 2px #ffffff !important; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:23px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #a8d2e0 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 5px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 5px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 5px #ffffff;  
  
  }.work_action_img:hover{
 padding:0px 0px; 
 border:solid 2px #004F72 !important; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:20px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 17px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 17px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 17px #ffffff;  
  
 }
 
 .work_action_img.img_selected{
 padding:0px 0px; 
 border:solid 2px #004F72 !important; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:23px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:inset 0,0,0px 0,0,0px 5,17,-1px #ffffff,#ffffff,#ffffff;  -moz-box-shadow:inset 0px 0px -1px #ffffff;  box-shadow:inset 0px 0px -1px #ffffff;  
  
 }
 
#uitree-wrapper{
  width:auto !important;
  overflow:auto !important;
}

.tabs{
  width:100% !important;
}

.canvas{
  background: !important;
}

#critical-edition-viewer {
  border:none !important;
  margin: 0em !important;
}

#critical-edition-viewer {
  margin-top: 0.5em !important;
}

#ui-easy-paginator table{
  margin-bottom: 0.0em !important;
  margin-top: 0.0em !important;
}

#ui-easy-paginator table tbody tr td {
  padding: 0px 0px 0px 0px !important;
}

#ui-easy-paginator {
  margin-top: 0.0em !important;
}

.layout-button-up {
  visibility: hidden !important;
}

.layout-button-right {
  visibility: hidden !important;
}

.layout-button-left {
  visibility: hidden !important;
}

.layout-expand {
  pointer-events:none !important;
}

#canvas-body {
  position: relative !important
}

#center_data {
 position: relative !important
}