.eui-window-fullscreen
{
    position: fixed;
    width: 100%;
    height: 100% !important;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.win-switch-full {
  cursor: pointer;
  display: inline-block;
  height: 24px;
  text-indent: -9999px;
  width: 24px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABZUlEQVRIie1VPU8DMQxNT/1hN1Y6+zkRzPATuhQEC1gCgSgbRWpFRdlA8Fso8G/YWobcqddwuY/OtZQlid+zE/vZAHZdt4jsjYkYEd82+Zt6cHcSAy8MsKc7ETDzqAm8MGYedSJgtktVTdoSqGoCyFfHDOx7mqb9JvA0TfuA/WiVAbP9Cf5gUZeJqiYi8lKHUSa4UtWEyC0CknmMgMjNg4ifVTXJMr7eIgiqpUdkJz4a/AIYxAgADPwduxaRB2NMb3Pmq8tU1bmPws2Y7UHTH4jIIYBp1VMS8W2T/9721sJE3FnFdg/Ao4gcNfkD7pjITkypBzZnOM8bDXfFptcWvPlGkxURhjFwIgyZZZVLxGtZuwCMt6RCxF3kUhG0P6Yxgixzs1BWPAYuI2oq3wH4U1Xq5af8H9A2RlSuQ22pJ/Ha1WUefHYdOMx22XEmY9yWQMTdd57JYXXFrKiWnQjypXFwq03+f0e91EwvZ22WAAAAAElFTkSuQmCC);
}

.win-switch-norm {
  cursor: pointer;
  display: inline-block;
  height: 24px;
  text-indent: -9999px;
  width: 24px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABcklEQVRIie2Vv07DQAzGnbQPlrk5f/YJsoHUFeaCYAFLIBAwIkRFVRV167tQwQNRhYEEXa9/UFDYaumGc2z/4suXMxERMetenvuhmaUUGYDz2FebiD+LfWaW5rkfish+XeAA0E9AS2adZVnWDYrfA1puAgBaOoe7ep9lWZdZZ4CWgH4y6yE550eVo15jM0udw2Xt2wYAtBTxF2aWAjoOaznnR2RmqYhMliHyHu5/A6zLEZFJeOSJc/oYddIQEL65PhJRsvJxmHXeAuBtnVhIxD+01QGA+yjwWy3tAQJ1AWrbAv8KqJZtyt3ZzhqYc3z7XzJ1Tm/qwNP2fzR/shTMzIO2AMw8WAlu67Jj1vnKZRdNohY6WJ6MSTzVmPWjKSDOAfBCRAnluR+GD+pJlOd83QBwVR3xawR5pl5P+4AuquJPFEyiWl3bAJFaEhF5qgCLXk/7RETEzMciMi2KohMXcY5vNwF+dB5YURQdEZkCOCIi+gJ9nNa2g4feggAAAABJRU5ErkJggg==);
}

#uitree-wrapper{
  width:auto !important;
  overflow:auto !important;
}

.tabs{
  width:100% !important;
}

#critical-edition-viewer {
  border:none !important;
  margin: 0em !important;
}

#critical-edition-viewer {
  margin-top: 0.5em !important;
}

#ui-easy-paginator table{
  margin-bottom: 0.0em !important;
  margin-top: 0.0em !important;
}

#ui-easy-paginator table tbody tr td {
  padding: 0px 0px 0px 0px !important;
}

#ui-easy-paginator {
  margin-top: 0.0em !important;
}

.layout-button-up {
  visibility: hidden !important;
}

.layout-button-right {
  visibility: hidden !important;
}

.layout-button-left {
  visibility: hidden !important;
}

.layout-expand {
  pointer-events:none !important;
}

#canvas-body {
  position: relative !important
}

#center_data {
 position: relative !important
}

.emic_background {
   background: url('images/bg-bar-emic.png') !important;
}
.panel-title {
   background: url('images/bg-bar-emic.png') !important;
   color:white;
}