

#emicdora_collatex_iframe {
  width: 105%;
  height: 1200px;
  border: 0 none;
}

.emicdora_button {
  width: 125px;
}
#boundlist-1034 {
 width:300px;
}

#menu-1033 {
  width:300px;
}

#menu-1033-innerCt {
    width:300px !important;
}
#menu-1033-targetEl {
  width:300px !important;
}

