#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  opacity: 1;
  background-color: #fff;
  z-index: 998;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 140px;
  z-index: 999;
}